body {
    margin-top: 100px !important;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: #FDFDFF;
    color: #353839;
}

.navbar {
  min-height: 100px !important;
  font-size: 22px;
  /*text-transform: uppercase;*/
}

/* links */

a:link,
a:visited,
a:active,
a:focus, 
a:hover {
  color: #00AB44;
  /*#004346;*/
}


.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: #00AB44;
    /*#06805E;*/
}

/*----NAV LINK HOVER ANIMATION -----*/
/* from Desiree: https://github.com/dcossyleon/blogdown_desiree/blob/master/assets/scss/custom.scss */

/* stroke */

.navbar-nav a.nav-link,
.navbar-nav a.nav-link:after,
.navbar-nav a.nav-link:before {
  transition: all .5s;
}

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: #06805E;
  height: 2px;
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}

.article-container{
    max-width: 1000px
}